[2019-02-03 21:14] epalzeolithe opened #1 "IR_Led not automatically switching on in nightmode"
Hi Fliphess, you really do a great job.

The last release on this repo is good, no ir_led nvram error in settings.html, and the switch in settings.html.

I'm tracking another issue, the automatic nightmode works well with, but the IR_led or IR_cut does not switch as needed - the picture is totally dark. Manually, using the settings.html, i can enable.

I'm looking into the code to find the issue

[2019-02-04 17:01] fliphess commented on #1
Hey @epalzeolithe!

The new auto night mode switcher is not the same tool as the previous one and some manual configuration is required to get it to work properly

To get it to switch at a specific value, you need to find the appropriate IR and EV values and configure the command line arguments accordingly.

This is currently a manual job as I didn't find the time to find good default values that

[2019-02-04 17:02] fliphess commented on #1
About the IR Cut mode: This mode is currently not being switched in the mode switcher. Did the previous one switch IRCut?

I never used the old one because it was blocking the `IR led` while it was enabled.

(But I don't think it's hard to add to the code.)

[2019-02-04 18:39] fliphess commented on #1
As far as I can see it's not very useful to switch the IR cut setting as it is sort of overrules by night mode (b/w).

It might work if you enable IR cut when switching off the nightmode, but I'm not sure if thats needed. If the IR cut value remains the same after switching off nightmode I think you can just leave it on.

If IR cut should be switched when a certain value is reached that is possibl

[2019-02-04 18:55] fliphess commented on #1
I've updated [the auto nightmode docs](https://miicam.github.io/Using-Auto-Night-Mode/)

[2019-02-05 08:44] fliphess opened #2 "Check if libgd should be updated"
[code]

[2019-02-10 22:41] V4n1X opened #3 "Config Editor in Web Interface not working"
Hello,

in the latest Version, if I want to change something in the Config over the WebUI, i get when I Save the Config this ERROR:

Invalid input in configuration content: ROOT_PASSWORD='MyPassword123' (line: 28)

Happens even with the default password, also if I change nothing and want to save the config again, this happens.

[2019-02-10 22:57] V4n1X commented on #1
The problem is I see, if its going darker the IR value is going higher, not lower so Dark means {"ev":17,"ir":189}

and bright means:

{"ev":3380,"ir":106}

So it must be:

When the IR value is over 100 the IR led is switched ON
When the IR value is below 100 the IR led is switch OFF

Can you change this?

[2019-02-11 00:34] pcmester opened #4 "The blue LED is always on, and can't be turned off"
The blue LED is always on, and this is very annoying especially at night. I tried to turn off via the webUI and also with MQTT, but it was not successfull. I haven't see any error message, if I try to turn off, it seems like its turning off, but not or sometimes the LED is turning off and back on again. I tried to wipe the SD card and reconfigure everything, but it was not solve the issue.

[2019-02-11 09:52] fliphess commented on #1
@V4n1X Thanks for your feedback! That sounds like a very plausible solution :) I will have a look at it later this week 👍

[2019-02-11 14:45] V4n1X commented on #4
Tested it, problem exists and I can reproduce it.

It seems like, its trying to turn it of, but it is switched instantly on, because the value got overwritten I think.

[2019-02-11 17:14] fliphess commented on #3
Hey @V4n1X!

Thanks for reporting this.

I think it has something to do with the regex that is checked for invalid chars.
I will have a look at it.

[2019-02-11 17:50] fliphess commented on #4
Hmz strange.... I can't reproduce it....

It could be a browser/webui issue.... Let's verify this first as it's easy to debug:

- Can you turn on/off the leds on the command line using `blue_led on` and `blue_led off` ?
- If you open the browser and check if the http requests are being made? There should be 2 requests to enable/disable the leds: `/api/led/blue_led/set/off` and `/api/led/blue_led/s

[2019-02-11 18:03] fliphess commented on #4
I'm thinking of some kind of race condition in the state of the led where the state is set to off while the leds are still on. Let me know if it works by directly opening the on/off http endpoints in your browser.

If that's not it I have to do some deep diving in the bootup timing :)

[2019-02-11 18:44] V4n1X commented on #4
So I tried:
* /api/led/blue_led/set/off
{"led":"blue_led","action":"TurnOff","success":false}

then
* /api/led/blue_led/set/on
{"led":"blue_led","action":"TurnOn","success":true}

and then
* /api/led/blue_led/set/off
{"led":"blue_led","action":"TurnOff","success":true}

but nothing changes.

Blue LED is blinking all the time, its not a constant flashing.

Same with the scripts

[2019-02-11 19:10] V4n1X commented on #4
Oh I see one thing at the moment.

If no movement is detected the blue light is on, no blinking etc..., if movement is detected the blue is blinking for round about 5 seconds.

So it must be to do with movement detection.

[2019-02-11 19:50] pcmester commented on #4
I tried via SSH, and I got the following error:

[code]

[2019-02-11 19:59] pcmester commented on #4
I think, that this is some GPIO issue, because I can't control also the ir_cut in SSH
[code]

[2019-02-11 20:26] fliphess commented on #4
@V4n1X  That makes sense :) I'll create some configuration to ask whether the led should blink :)

@pcmester Is the error still there if you reboot the camera? I've seen this error as well, but I thought I fixed it in the last release

[2019-02-11 20:42] fliphess commented on #3
Ah! it's [in the regex](https://github.com/miicam/MiiCamWeb/blob/master/libs/system.php#L108)!

As a workaround, try using double quotes rather than single, that should work until I've found a way to fix it :)

[2019-02-11 20:47] fliphess commented on #3
/move to web

[2019-02-11 20:47] #3 closed

[2019-02-12 00:19] pcmester commented on #4
I've rebooted, and now it is blinking even if there isn't any motion. In SSH, if I try to turn off the LED, first time I haven't got any error (but the LED is on), and neither the second time, but the third time is interesting. There is an another error message:
[code]

[2019-02-12 12:01] fliphess commented on #4
@pcmester Can you first turn off motion detection, just to ensure the led is not triggered by motion and after that reboot the camera?

I think the pwm is locked by the `motion_on.sh` or `motion_off.sh`scripts while in the same time the led is controled through web and or command line, which can cause some of this behaviour.....

[2019-02-12 23:01] pcmester commented on #4
I turned off motion detection, and it seems like that this is solved the problem, but I can't enable IR_CUT now.
`
root@camera /root # ir_cut -e
root@camera /root # ir_cut -s
*** IR Cut is off
`

[2019-02-13 15:21] fliphess commented on #4
The IR Cut is indeed a bit flaky at the moment, I'm working on it this week and It will be fixed in the new release next week. But lets focus on the leds in this issue, i'll create a new bug for the IR cut:

If the motion detection is off, do the blue and yellow led function as expected? I'll remove the led indicator for motion in the next release as I've to find a better mechanism for it.

[2019-02-13 15:22] fliphess opened #5 "IR cut state from GPIO pins is flaky"
The IR Cut functionality is not working well as errors appear when retrieving the current state:

[code]

(As mentioned in #4 )

[2019-02-13 21:07] fliphess opened #6 "Wget segfaults when downloading using ssl"
wget gives a segfault when downloading:

[code]

The strace shows:

[code]

[2019-02-13 23:41] pcmester commented on #4
Yes, without motion detection turned on, the blue and yellow LEDS functions as normal

[2019-02-14 08:30] fliphess commented on #4
As a workaround: If you don't want the motion detectionto control the leds, edit the `motion_on.sh` and `motion_off.sh` scripts in `/tmp/sd/firmware/scripts/` and remove the led actions.

[2019-02-14 14:30] pcmester commented on #4
Thank you, i will do that

[2019-02-14 20:04] #6 closed

[2019-02-14 20:11] #5 closed

[2019-02-14 20:31] fliphess commented on #1
I've created a fix, which will be released soon. As I put my commit, the issue will be closed, but don't hesitate to reopen it if the behaviour is not as expected/ as it should be.

Otherwise we should have a look how [other solutions solve this problem](https://github.com/Dafang-Hacks/Main/blob/master/autonight/autonight.c)

[2019-02-14 20:32] #1 closed

[2019-02-15 21:47] V4n1X opened #7 "RTMP Microphone / Sound"
Hello,
don't know if I am too stupid, but why there is no sound on the rtmp stream.
If that feature is missing, can you implement it?

[2019-02-15 22:32] fliphess commented on #7
Hey @V4n1X! :)

It would be a great enhancement of this toolset, but don't expect it soon...

I'm doing some early experiments with the audio samples in the toolchain, and hopefully from there i can get somewhere using the speaker and the microphone eventually.

There is no documentation or source code for the rtsp library and I'm a starting C coder that has still lots to learn so it's mostly blin

[2019-02-18 20:22] #4 closed

[2019-02-20 22:40] pcmester commented on #4
I can confirm, that this is solved the issue. Thank you again!

[2019-02-21 07:47] fliphess commented on #4
@pcmester Thanks! I'm a bit late with the new release due to some things in the non-digital world that needed attention, but I aim at coming weekend :)

[2019-02-22 19:35] fliphess commented on #4
@pcmester @V4n1X A new release is created a few minutes ago. It should go through the build process on [travis](https://travis-ci.org/miicam/MiiCam/builds/497206274) and it'll be available in an hour ;)

[2019-02-22 19:36] fliphess commented on #3
This should now be live in the next release. Thanks for letting me know! 👍

[2019-02-22 20:00] fliphess commented on #1
Hey @V4n1X!

I've released the changes on the auto night mode switcher and I've created nightly builds for quick testing. Let me know if the switcher suffices or if more changes are required to make it more useful 👍

[2019-02-25 19:23] pcmester opened #9 "Update over the air (OTA) support would be great"
Hey @fliphess!
The update process is can be really hard, especially if you mount a camera to the ceiling. Now, I can't update the camera over the air correctly, but i think it is possible. The problem is, that if I try to replace the files that are running, this causes problems and this way it's not great. I know that there are more important features that would be great, this is just a far future

[2019-02-26 10:30] fliphess commented on #9
Hey @pcmester! Thanks for this feature request :)

I've been working on such a thing for the last few months.... It's just nog finished yet.
For the web interface I've come to the point that it's now possible to update on the command line, but I'm keeping it "quiet" for a while until I've done some decent testing.

For the rest of the hack I'm still working out how to proceed, as it's very easy to

[2019-02-26 10:34] fliphess commented on #9
If you manage to get the remote update to work, feel welcome to add a PR for an `update_camera.sh` remote update script in `tools/dev` that downloads the latest release on your laptop, uses rsync to copy the content of the `tgz` file to the camera and updates the configuration file afterwards as shown in my earlier post.

[2019-02-26 12:10] #7 closed

[2019-02-27 14:13] pcmester opened #10 "Color problems - the picture is pink (or someting else color, but not realistic)"
Hey @fliphess!

I updated to the latest release about 1,5 day ago, and there is an annoying issue about colours. After i updated, the whole picture turned to pink colored. I hoped, that this is caused by an incorrect setting, so i pressed the reset button on the camera settings page, and nothing changed. Today I tried to adjust the hue, but if i do that, only the "filter colour" changes. The colou

[2019-02-27 14:27] roboterm commented on #10
I think this is caused by IR_Cut.

[2019-02-27 14:46] fliphess commented on #10
The reset button loads the default state, which is IR_Cut OFF.

Can you check what happens when you enable IR_Cut?
It sounds like the filter is OFF while there is a lot of IR led, resulting in a pink frame. (more red light than blue)

[2019-02-27 15:28] V4n1X commented on #10
Yes this is the IR_Cut, i am working on optimal variables for the auto night mode, but I dont know if the IR Cut is useful in any way, if IR-Cut is of, i only need the night mode + Irled for dark and both off for day mode. So is it possible to disable the switch of the ir cut?

[2019-02-27 15:37] roboterm commented on #10
I don’t understand the ir_cut functionality either.
Can’t we just link the ir_led to the nightmode?
If nightmode is set on ir_led does as well and vice versa.

[2019-02-27 16:43] V4n1X commented on #10
Yes that is a good deal I think, Nightmode on means IR Led on, nightmode of, also Ir led off.

IRCut should be globally disabled, its useless I think.

Then we can adjust the auto night mode feature better.

[2019-02-27 16:44] V4n1X opened #11 "Discord channel?"
Hello,

here are a few Guys that have knowledge and new ideas, so we can setup a discord channel for free, and do there some Testing. What do you think?

[2019-02-27 17:09] fliphess commented on #10
@V4n1X  In the afternoon when there is a lot of red light, and the sun is in a low position, I couldn't do without IR  Led to correct the red from the image (My main window is on the south side).

I'm reluctant to disable IR cut functionality while auto_night_mode is on, as the nightmode switcher responds to low light, where the IR cut functionality is meant for use when there is too much light.

[2019-02-27 17:10] fliphess commented on #10
I think it's time to rename the `auto_night_mode` utility, as it's not just nightmode (black and white) anymore but ir_cut and ir_led as well.... :)

At startup I need to switch the `IR Cut` and `IR Led` at least once to init the `GPIO` pins, so globally disabling would not be an option as control would be disabled with state ON......

(which implies you cannot control it, but it's still functiona

[2019-02-27 17:31] fliphess opened #12 "The auto_night_mode utility can be improved"
This is a collection ticket to combine all feature requests and bugs regarding the `auto_night_mode` utility.

As I never used it myself, getting a useful and functional tool is hard for me, so I need more input of people that are actually using it.

All input is welcome and appreciated! 👍

[2019-02-27 17:32] fliphess commented on #10
@V4n1X I'm closing this issue, as it's about a pink picture and we're drifting off to the nightmode switcher :)

I'll create a new issue regarding the auto_night_mode switcher utility, please add any suggestion, comments, ideas and feature request about the switcher in (#12), so we can do some improvement :)

[2019-02-27 17:32] #10 closed

[2019-02-27 17:32] fliphess commented on #11
I love it :)

[2019-02-27 17:32] fliphess commented on #11
I'll get to it right away ;)

[2019-02-27 17:36] fliphess commented on #11
There you go: https://discord.gg/rjW2SSB

I'll add it to the docs in a minute... I'm quite new to discord, open to suggestions :)

[2019-02-27 18:51] pcmester commented on #10
I have tried to toggle the IR_CUT, and now the colours are more accurate, but I will test it out tomorrow, it is too dark to say surely. Thank you!

[2019-02-27 20:27] roboterm commented on #10
When I was using the cameras in the Mi Home app the ir_cut never appeared as far as I remember.
Also there is no Setting for the ir_cut in the Mi Home app Camera Settings.
So maybe we can keep it optional always off (and also on if you like it @fliphess).

[2019-02-27 20:28] roboterm commented on #12
I also wrote it at #10:
When I was using the cameras in the Mi Home app the ir_cut never appeared as far as I remember.
Also there is no Setting for the ir_cut in the Mi Home app Camera Settings.
So maybe we can keep it optional always off (and also on if you like it @fliphess).

[2019-02-27 20:47] fliphess commented on #10
@roboterm: I've checked and IR Cut is used in the `ir_sample` (the original switcher), hence the clicking sound when the lights are switching on and off....

I remember hearing it click at night before i flashed the firmware....
It's possible IR Cut was on by default (the miihome app stream was always a bit blueish wasn't it?)

[2019-02-27 20:55] fliphess commented on #12
@roboterm: I've checked and IR Cut is used in the `ir_sample` (the original switcher), hence the clicking sound when the lights are switching on and off....

I remember hearing it click at night before i flashed the firmware....
It's possible IR Cut was on by default (the miihome app stream was always a bit blueish wasn't it?)

Removing it is not really an option, only if it wouldn't work (as with

[2019-02-28 19:52] fliphess commented on #12
We moved the discussion about the functionality to discord, as it's easier to determine what values and behaviour to implement while discussing rather than the slow messaging here @ github.

The current set we're working with is:
[code]

The `ir_led` and `ir_cut` are both optional, the (default) values can be changed, so only the actual black and white switch (nightmode) is always switched.

Let m

[2019-03-03 23:49] #11 closed

[2019-03-03 23:49] #2 closed

[2019-03-18 18:44] manuw2009 opened #13 "Openhab2 integration"
Hi,
I am trying to integrate this in openhab2 (openhabian) through MQTT but I can't seem to configure it properly.
Within Openhabian, I have defined an embedded broker, and assigned its IP to config.cfg.
I then created a generic MQTT thing in openhab, and created a channel to manage the brightness through home/my_camera_name/brightness.
It does even display the right value, but each time I want to

[2019-03-19 20:12] fliphess commented on #13
Hey @manuw2009! Thanks for creating an issue about this :)

(I've added some back tics to your message to aquire some readability....)

I've made lots of changes to the MQTT service last months and to be very honest: I don't have any MQTT control for the MiiCam in my home automation at the moment, so most of the changes are not thoroughly tested....

I need some time this weekend to create some co

[2019-03-19 20:23] fliphess opened #14 "Disable NTPd by default"
In the ghoost repo, ntp was run once at boot time.
I prefer to stop the daemon and run ntpd once at boot after the network is functional, as it was

Additionally the ntp sync should run every few hours from cron to update the time.

(save memory)

[2019-03-20 20:16] manuw2009 commented on #13
Hi,
Thank you very much for your help.
Don't know if this can help, but I noticed that even
without my openhabian switched on, I am seeing the "MQTT Action: sending..." in the mqtt.log like every 2sec.

[2019-03-21 08:44] fliphess commented on #13
Thanks for your addition, that sounds like a possible loop in the mqtt logic....
I will have a look at it this weekend and get back to you about it after the weekend.

[2019-03-21 18:16] fliphess commented on #14
Running without ntpd for the next week to observe the side effects :)

[2019-03-27 10:13] manuw2009 commented on #13
Hi, did you have a chance to look into it ?
Thank you in advance !

[2019-04-03 07:07] manuw2009 commented on #13
Do you want me to provide some more information maybe ?

[2019-04-05 20:11] pimoon opened #15 "Can't boot"
I followed the instructions but can't make my camera booting and be accessing in local :
- If I reset the camera and boot with the sd card, the yellow led is flashing indefinitely.
- If I reset the camera and boot without the card, I can configure the wifi through Mi Home app and get fix blue led. But then when I reboot with the SD card I can't access the camera in local with it's own IP, although

[2019-04-05 21:07] pimoon commented on #15
Well after further investigation I think my camera has a problem because it cannot detect the SD card inserted with Mi home app.
I tried with 3 differents SD card, 32Gb and 8Gb. Format in FAT32 under MacOS and Ubuntu.

[2019-04-05 23:51] pimoon commented on #15
it's finally a hardware issue.

[2019-04-05 23:51] #15 closed

[2019-04-07 17:12] fliphess opened #16 "Main developer stepped into a rabbit hole"
At the moment I'm very busy with a new job and some adventures that came on my path.
As I recently stepped into a rabbit hole, I'm currently not very active in building new functionality, fixing issues and debugging problems other users experience using this webcam project.

I'm open to all pull requests and anyone that needs advice or help in how to solve some issues and or bugs regarding this pr

[2019-04-07 17:21] fliphess commented on #13
Hey @manuw2009

I'm very busy atm with some other projects that are eating all my spare time (and I think it's a good thing because I love it)......
Therefor I'm not as present as I was earlier.

To find the cause of the camera not responding to MQTT, I would suggest isolate it first: Run a mosquitto docker, connect the camera to it and don't connect it to any home automation project.

When you ha

[2019-04-16 10:15] tarteAuxPommes opened #17 "Loosing rtsp connexion"
Hi,

I'm using my camera on a domotic system called jeedom. I have to use rtsp and when i plug my camera and check on my domotic, it works.
But after some hours (randomly), i loose the rtsp connection. I have to reboot the camera...
When i loose the rtsp, the webserver still running.

Can you tell me why and what can i do ? I would like to avoid rebooting with cron because if somebody get in my ho

[2019-04-20 16:08] shayshtern opened #18 "Integration with Home Assistant platform:"
I don't know why but I don't success add the camera to there platform. This is the parameters in general https://www.home-assistant.io/components/generic/
If some know or what to help I will be very thankful for that.
Have a good day and thanks to everyone who what to help!
Shay Shtern.

[2019-04-20 16:08] #18 closed

[2019-04-20 16:10] shayshtern opened #19 "Integration with Home Assistant platform:"
I don't know why but I don't success add the camera to there platform. This is the parameters in general https://www.home-assistant.io/components/generic/
If some know or what to help I will be very thankful for that.
Have a good day and thanks to everyone who what to help!
Shay Shtern.

[2019-04-22 20:59] pcmester commented on #19
Modify this, and add to your configuration.yaml file
camera:
 - platform: ffmpeg
   name: The name of your camera
   input: -rtsp_transport tcp -i rtsp://username:password@theipaddressofthecamera:554/live/ch00_0

Now you can use the new stream component, for me this is a little bit buggy, but you can give it a try by addig this to the configuration.yaml

stream:

[2019-04-23 12:30] shayshtern commented on #19
its still give me no photo.. : look:
![image](https://user-images.githubusercontent.com/4135420/56581008-abbcd300-65dc-11e9-9797-1af87e3906da.png)

[2019-04-23 14:50] fliphess commented on #17
Hey @tarteAuxPommes! Can you upload some logging with the timestamps of the time the camera stopped working? It can be a cronjob or something else that is causing this.

I'd like to see both the boot log, the syslog and the rtspd.log to find some relations.

[2019-04-23 21:22] pcmester commented on #19
Can you play the stream in VLC by entering this (modify with your own credetials)? `rtsp://username:password@theipaddressofthecamera:554/live/ch00_0`

[2019-04-24 05:43] shayshtern commented on #19
Yes. And stream is working on VLC with this format ! With my user and password.

[2019-04-24 05:44] shayshtern commented on #19
Dose it work on your home assistant?

[2019-04-24 13:05] pcmester commented on #19
Yes, it works for me. If you are using Raspberry Pi, you can also try to disable the stream component, it can be hard to transcode a camera stream for a Raspberry. You can do that by removing the `stream:` from your  configuration.yaml file.

[2019-04-24 14:22] shayshtern commented on #19
Actually this honeassistant runs on a Linux VM on Windows 10. Is there any connection with the issue?

[2019-04-24 22:16] pcmester commented on #19
I think no, but it can be some networking issue, because of the VM. Which Linux system do you use? The Hass.io VM image, or some linux distro with Docker?

[2019-04-25 03:24] shayshtern commented on #19
Ok so let's find the issue! It's virtual box software that runs Hass.io just like on the video here: https://youtu.be/vnie-PJ87Eg
And this is the instructions  https://www.dropbox.com/s/kwb9b3ji01leg96/Installing_HASSOS_on_VirtualBox.pdf?dl=0
It's a Linux Ubuntu 64 bit.

[2019-04-27 12:46] pcmester commented on #19
Okay, so this is the offical virtual environment image of Hass.io. It can be a networking issue, if the HA setup is in an another network. How your network looks like? Is the camera and HA on the same network?

[2019-04-27 12:50] shayshtern commented on #19
It's all on the same network. The windows 10 PC that holds the home assistant VM is on the same network as the camera.

[2019-04-30 16:22] simoncirstoiu opened #20 "Camera cannot connect to hidden SSID"
I've tried few times, and the camera cannot connect to hidden WIFI SSID

Is there a setting that must be modified in order to be able to connect to a hidden SSID?
I edited correctly the name and the password, and if is not hidden, everything works ok, but when the ssid is hidden the camera refuse to connect anymore.

[2019-05-02 18:36] fliphess commented on #20
Hey @simoncirstoiu

For wifi configuration we still fully rely on the utilities in the original firmware, as all we do is save the wifi credentials to nvram, connecting is done using `wpa_supplicant` and some scripts hidden somewhere in the firmware image.

I've found [some topics on SO](https://unix.stackexchange.com/questions/257284/failure-to-connect-to-hidden-ssid-with-wpa-supplicant-on-debian

[2019-05-02 18:56] fliphess commented on #19
Try to view the camera with `ffmpeg` instead of VLC, this should work as `ffmpeg` will play almost everything that contains some image or audio data.

You might have to fuddle a bit to find the right command line arguments, but eventually if you can do this with ffmpeg, try using the same command line arguments in the ffmpeg component in hass.

Otherwise if you're on windows: Check the firewall ;)

[2019-05-02 19:05] fliphess commented on #19
I don't think I can be of much help here atm as I'm not using home assistant directly with the camera anymore as the stream (and the camera) kept crashing and glitching because of too many rtsp connections at the same time.

Home assistant opens a new connection to the camera for each viewer, and with a laptop, a regular computer and a phone all watching the camera stream at the same time it becam

[2019-05-02 19:24] fliphess commented on #19
Okay, I've done a quick check to be sure and this works for me:

[code]

Which results in your camera being accessible in home assistant as `camera.ffmpeg`.

[2019-05-02 19:27] fliphess commented on #12
Closing this as I havent any complaints anymore after the changes.

[2019-05-02 19:27] #12 closed

[2019-05-02 19:42] fliphess commented on #20
Found it! In `/mnt/data/ot_wifi_tool/wifi_start.sh` on the camera you can change the wpa settings as this is where the `/tmp/wpa_supplicant.conf` is generated at boot time.

You can change the settings to support a hidden SSID but this is an "advanced topic" (in other words, you are on your own)

Be aware that you are changing files in the writable storage on the camera. (As in the files I've warn

[2019-05-02 19:47] shayshtern commented on #19
Only when Im on my iPhone the picture show for some seconds, that it @fliphess .
When I click its only the "loading ciricle".
camera:
 - platform: ffmpeg
   name: Xiaomi Camera
   input: -rtsp_transport tcp -i rtsp://username:password@ip:port/live/ch00_0
default_config:
panel_iframe:

[2019-05-02 19:47] fliphess commented on #20
I've added this issue to [the documentation](https://miicam.github.io/Troubleshooting/#wifi-connection-issues) as a limitation of the camera, so closing this.

Btw, I add this functionality to the list of wannahaves as I prefer to have more control over the boot process and wifi setup in general, but for now I'm sorry to say: "Wontfix"...

[2019-05-02 19:47] #20 closed

[2019-05-02 19:56] fliphess commented on #19
Check your home assistant logs, it should mention some related logging as it initially works.

Try the ffmpeg method first on the commandline before you use it in hass.
This is easier as you can quickly identify errors with the stream capture.

If this works perfectly, but in hass it doesn't it's probably not a problem in the camera but in your hass setup, browser, firewall etc.

[2019-05-02 19:58] shayshtern commented on #19
I'm using the ffmpeg method just like this:
camera:

platform: ffmpeg
name: Xiaomi Camera
input: -rtsp_transport tcp -i rtsp://username:password@ip:port/live/ch00_0
default_config:
panel_iframe:

[2019-05-02 20:00] shayshtern commented on #19
and the logs:

[2019-05-02 20:01] fliphess commented on #15
@pimoon Was it a hardware issue after all or did you manage to get it to work eventually?

[2019-05-02 20:02] fliphess commented on #19
What errors do you see on the commandline using ffmpeg?

[2019-05-02 20:06] shayshtern commented on #19
2019-04-24 18:25:12 ERROR (MainThread) [homeassistant.components.updater] Got unexpected response: None

[2019-05-02 20:08] fliphess commented on #9
@pcmester, Sorry for the late response and the annoying bot.....

Did you checkout the updater? (https://github.com/miicam/MiiCamUpdater)
It's the steps I mentioned in a script, and I'm open to suggestions for improvement.

It's not a very shiny updater, but I gave up on updating from the camera itself as it kept crashing, dropping packets, saving corrupt downloads and all the nasty stuff you've t

[2019-05-02 20:17] fliphess commented on #19
@shayshtern stop trying in home assistant now and focus on the camera: Try to connect from your server using ffmpeg on the commandline without hass in between to verify on what side the issue appears.

If the connection issues are appearing in ffmpeg too, it's a camera issue and you can create a new issue.  If the connection issues are not there when you only use ffmpeg without hass, it's another

[2019-05-02 20:17] #19 closed

[2019-05-04 13:12] pcmester commented on #9
Not a problem. Now I can access phisically the camera much easier than before, so I can update manually if it necesarry. The latest version did not want to start, now I use the 2nd release before the latest, I do not know what is the problem, but it just not boots to the hack with the latest. I will check out the updater, if new release comes out, I will try to update to that. Thanks for your repl

[2019-05-06 13:10] tarteAuxPommes commented on #17
Hi, reinstalled the hack and it works.
Thanks,

[2019-05-06 13:10] #17 closed

[2019-05-06 13:16] tarteAuxPommes opened #21 "Motion sensitivity"
Hey,

I would like to know if it's possible to add a parameter for the motion sensibility ? It looks very sensitiv by default and i'm receiving notification constantly.

Thanks for you work,

[2019-05-06 14:13] fliphess commented on #21
Hey @tarteAuxPommes  I think it's possible, but you've to dive deep in the SDK.

Have a look at the samples in the toolchain for some examples:
- https://fliphess.com/toolchain/Software/Embedded_Linux/source/gm_graph/gm_lib/samples/encode_with_capture_motion_detection.c
and
- https://fliphess.com/toolchain/Software/Embedded_Linux/source/gm_graph/gm_lib/samples/encode_with_capture_motion_detection2

[2019-05-06 14:16] tarteAuxPommes commented on #21
Hi, Thanks for your reply. Unfortunately i'm afraid that i can do nothing at my level with this.. :/

[2019-05-06 14:17] fliphess commented on #21
Me neither :) But It's on my list to implement as soon as I have a bit more experience in C :)
We'll get there, it's just a matter of time :)

[2019-05-30 09:48] HITMIK opened #22 "How install pls!"
(sorry for my english)
I was install this manual:

1. format SD card to FAT32
2. copy tf_recovery.img to card
3. plug sd card to camera and power on
4. blue led is blue
5. format SD card to FAT32
6. copy sdcard folder to card
7. plug sd card to camera and power on
8. blue led is blue

Dont work http://my_ip_address

Where is problem?

[2019-05-30 09:48] #22 closed

[2019-06-09 10:53] HITMIK opened #23 "Help with my camera"
(sorry for my english)
I was install this manual:

format SD card to FAT32
copy tf_recovery.img to card
plug sd card to camera and power on
blue led is blue
format SD card to FAT32
copy sdcard folder to card
plug sd card to camera and power on
blue led is blue
Dont work http://my_ip_address

Where is problem?

[2019-06-09 10:53] #23 closed

[2019-06-09 10:55] HITMIK commented on #23
@fliphess

[2019-06-28 17:03] DaddyGuitou opened #24 "Request for help for hask"
Hello,
I am having trouble applying the hack.
I followed the steps.
- Format in FAT32
- Modified older firmware
- Start the Chuangmi
- Copied the contents of SDCARD
- Start the Chuangmi
- Connection to the IP of the Chuangmi.

But connection refused, despite several tests.

Do not I realize something wrong?

The logs show some failed.

Thanks for your help.

[2019-06-28 17:03] #24 closed

[2019-07-05 21:13] fliphess commented on #24
Hey @DaddyGuitou! Did you manage to get it working?
Without much information, the issue you describe sounds like a configuration error with which the guys on discord can help you if you ask nicely :)

I'm not working on the camera much at the moment due to busy with work and because of the summer...... If you need some help setting up the camera have a look at the [discord server](https://discord.

[2019-07-05 21:14] fliphess commented on #23
Hey @HITMIK ! Did you manage to get it working?

Without much information, the issue you describe sounds like a configuration error with which the guys on discord can help you if you ask nicely :)

I'm not working on the camera much at the moment due to busy with work and because of the summer...... If you need some help setting up the camera have a look at the [discord server](https://discord.gg/

[2019-07-06 14:52] #9 closed

[2019-07-07 18:11] fliphess commented on #14
Had some issues with setting the time at boot, closing this.

[2019-07-07 18:11] #14 closed

[2019-08-05 15:06] glelan opened #25 "Camera setting after reboot"
Hello It look like all camera settings like "Auto Sharpen" "Auto Expo" etc... are allways "activated" after reboot even if it was desactivated before reboot and despite what value we put in config editor / RESTORE_STATE
Have try with RESTORE_STATE="0" or RESTORE_STATE="1"
no change it allways come back at "on" with thoses options.
an idea?
Thanks

[2019-09-21 20:45] jymbob opened #26 "HLS Stream from camera"
It's only 3 questions, and if they're not relevant you can skip them, but please describe as much as possible to make it easy for me to understand what is going on.

**Is your feature request related to a problem? Please describe.**
Nope, well, maybe the first world problem of "I'd like it to be easier".

**Describe the solution you'd like**
1. The firmware can create video files
2. The firmware i

[2019-10-11 11:44] Zippeyrude opened #27 "Where can i DL tf_recovery.img?"
I have the latest FW so understand that i need to flash the camera with the tf_recovery.img file.

Is there an approved DL source for this please?

[2019-10-11 11:45] #27 closed

[2019-10-11 12:25] fliphess commented on #27
@Zippeyrude [This one](https://github.com/miicam/MiiCam/blob/master/tf_recovery.img) ?

[2019-10-11 12:29] Zippeyrude commented on #27
Thank you @fliphess

I also found one [here](https://drive.google.com/drive/folders/1ci4WnTCL9nsY8CHJkf3rog1Lnl7MO1sx)

[2019-10-28 20:53] fliphess commented on #25
Hey @glelan (Sorry for the late response and the stalebot)

What you say is correct, there is no way (yet)  to set the Auto Exposure, Noise reduction etc (The top buttons in the UI) at boot-time, as there is no state saved for these options.

The default value that is set when loading the kernel module that takes care of these settings are always set at boot time and never override in the restore_

[2019-10-28 21:28] #16 closed

[2019-12-28 19:03] 1300371 opened #28 "Support for CMSXJ16A ?"
Describe in the issue you are experiencing, what behaviour you see, if you see any errors and most important if something is not working: send the log files, I really need to see them to help you debug.

...

I'm trying to use this hack with this camera : banggood.com/International-Version-Xiaomi-Mijia-IMILAB-Xiaobai-H_265-1080P-Smart-Home-IP-Camera-360-PTZ-AI-Detection-WIFI-Security-Monitor-from-

[2019-12-28 19:05] 1300371 commented on #28
Sorry if hack not compatible : i was thinking that is a feature request ...

[2019-12-30 09:03] fliphess commented on #28
@1300371 I think the model you are using is using a newer eeprom chip than the one in the chuangmi camera, but we might be able to make it compatible by replacing the eeprom utils in the original firmware with some code that is able to detect which chip it is and read any of them. I have some examples in the toolchain that look usable. It's a lot of work and I'm not sure if i've enough knowledge t

[2020-01-02 16:41] array81 opened #29 "About RTSP encryption"
Sorry for this message but I cannot find a email or other way to contact the author.
About "WARNING: The RTSP daemon has authentication but without encryption! Read the Security Considerations for more information" on your guide, if I use the firmware to enabled RTSP and connect the cam with my Synology NAS (on the same network) can I have security problem?
I think the "encryption" is a big proble

[2020-01-02 16:41] #29 closed

[2020-01-02 17:32] fliphess commented on #29
Hey @array81 :)

I'm pretty sure more security minded people will crucify me for saying this but I think you are right.

The camera is not in any way made for being used as a serious security device used for critical surveillance so If you are using this camera (for example) for monitoring a bank vault , I think you are doing it wrong. I use this camera at home for detecting if my cat is on the ot

[2020-01-02 17:36] #25 closed

[2020-01-02 17:38] fliphess commented on #25
I've removed the mentioned settings from the frontend too as their automagically set by the firmware at boot time and I'm not sure the settings add any value as I've never felt the use to change the default setting.

[2020-01-02 21:30] fliphess commented on #29
BTW if you can separate things with a dedicated IOT wifi SSID and some firewall rules to prevent regular users from visiting iot wifi ip space, that be even better ;)

[2020-01-03 16:40] 1300371 commented on #28
@fliphess Sure, thanks for the effort !
Let me know if you need more info :+1:

[2020-01-11 09:31] OUARZA commented on #28
Hello,
I am also interested. I have a CMSXJ16A camera.
Cordially.

[2020-01-13 02:18] eduardoaly commented on #28
Hello,
I am also interested too.

[2020-01-21 22:26] lapinpt commented on #28
hi, one more vote for CMSXJ16A chuangmi ipc016

[2020-01-25 13:12] SuperSpe opened #30 "RSTP not working on MJSXJ01CM"
[ ] - Issue or bug is not in: https://github.com/fliphess/chuangmi-720p-hack/wiki/Troubleshooting)
[ ] - I've attached a log file (https://github.com/fliphess/chuangmi-720p-hack/wiki/How-to-tar-or-zip-the-logs-when-filing-an-issue)

I can acces to all hack functions like http, sshd etc, but cannot get the rtsp stream working.
I try to disable the authentication, no results.

I try ffprobe rtsp://l

[2020-01-25 13:12] SuperSpe commented on #30
fuck

[2020-01-25 15:02] SuperSpe opened #31 "RTSP not working"
I can acces to all hack functions like http, sshd etc, but cannot get the rtsp stream working.
I try to disable the authentication, no results.

I try ffprobe rtsp://localhost:554/live/ch00_0
and got
[tcp @ 0x2e7c0] Connection to tcp://localhost:554?timeout=0 failed: Connection refused
rtsp://localhost:554/live/ch00_0: Connection refused

any advice?

[2020-01-25 15:02] #31 closed

[2020-01-26 09:22] fliphess commented on #30
@SuperSpe Just from the information that you provide it looks like the RTSP server cannot be started. There can be several causes, but I suspect the xiaomi cloud streaming service being running causing the rstp not being able to open the required sockets and sources.

can you check in the logs if there's any error at startup time?

[2020-01-26 09:24] fliphess commented on #30
if you check the process list (`ps -ef | grep rtsp`) can you see a running process? If not, try starting it manually (`/etc/init/S99rtspd start`) and check the logs what went wrong?

[2020-01-26 20:06] hiol83 opened #32 "Auto night mode configuration"
There is a difference between the documentation about auto night mode and the default configuration in the firmware

Actual default configuration in the last release v0.98.2
AUTO_NIGHT_MODE_ARGS="--ev-on 30 --ir-on 90 --ev-off 1000 --ir-off 100 --delay 5 --set-ircut --set-irled"
Dafault configuration in the documentation
AUTO_NIGHT_MODE_ARGS="-d 120 -e 200 -i 5 -l -n -v"

Actually, i would like to

[2020-01-26 21:21] roboterm commented on #32
These commands configure the behavior of the Auto Night mode. The best practice is to find out the wanted values for yourself by running the Auto Night mode in a console window where the program can output all variable values.
https://miicam.github.io/configuration/Using-Auto-Night-Mode/

[2020-01-26 21:24] roboterm commented on #32
For me this configuration works;
AUTO_NIGHT_MODE_ARGS="--ev-on 700 --ir-on 100 --ev-off 2140 --ir-off 130 --delay 5 --set-irled --set-ircut"

[2020-01-27 00:40] hiol83 commented on #32
thank you @roboterm. uploaded your configuration and it's working fine also for me.
i was also looking about documentation. but these commands are not well explained there. i'm not used with linux command line or similar. if i copy and paste example in documentation auto night mode simply doesn't work. that's why i thought about suggestin an issue.

anyway again, about my issue, seem that you help

[2020-01-27 07:56] SuperSpe commented on #30
Yes I see the running process. I can restart the processo too with the same result.
The cloud streaming service is disabled in the config btw.
I tried severl version (old) of the hack, no luck
This is what I got if I run the rtsp manually:

root@camera /root # /tmp/sd/firmware/bin/rtspd -f15 -w1280 -h720 -b4096 -m4
22:32:17 INFO  rtspd: Starting the RTSP Daemon
Error! Abnormal AP exit under chipid

[2020-01-27 08:49] roboterm commented on #32
you're welcome!

[2020-01-27 20:00] fliphess commented on #30
[code]

GM Poll timeout indicates it has something to do with the kernel module that is used for capturing frames from the sensor (GMLib is the library created by the provider to do this and the poll timeout comes from this library)
Can you provide the output of the `dmesg` command?

Chances are it will never work, as the camera is a completely different model, but afaik they're using the the same

[2020-01-28 07:38] SuperSpe commented on #30
Hi. I am sad :(

dmesg is full of this:

vcap_lli_irq_handler: 330 callbacks suppressed
[VCAP_ERR]: [0] VI1 no clock!
[VCAP_ERR]: [0] VI1 no clock!
[VCAP_ERR]: [0] VI1 no clock!
[VCAP_ERR]: [0] VI1 no clock!
[VCAP_ERR]: [0] ch#4 timeout!(T:112ms)
[VCAP_ERR]: [0] VI1 no clock!
[VCAP_ERR]: [0] VI1 no clock!
[VCAP_ERR]: [0] VI1 no clock!
[VCAP_ERR]: [0] VI1 no clock!
[VCAP_ERR]: [0] VI1 no clock!

[2020-01-30 11:42] djmalin opened #33 "MJSXJ01CM not conected"
Hello, I need help, I have uploaded all the files to the card, I entered the password and the network in the config file, but the camera does not want to connect to the network? that's how I got the camera log:
Chuangmi 720P configuration:

  HOSTNAME       = camera
  TIMEZONE       = UTC

################################
*** Mounting newer busybox
*** Enabling logging
*** Stopping logging... OK
*

[2020-01-30 11:42] #33 closed

[2020-02-01 08:53] SuperSpe commented on #30
So like I was saying on discord, I fix the problem by using another firmware version and not the one on the repo.
The firmware for this board can be found here
https://1drv.ms/u/s!Ar5C-aX9A4YAkBRlGPgJKocdqVRw

[2020-02-03 19:15] fliphess commented on #33
@djmalin Try connecting the camera to the wifi using the app first (https://miicam.github.io/Troubleshooting/#wifi-connection-issues)

[2020-02-03 19:30] fliphess commented on #30
Good to hear you got it to work :)

 I checked the md5sum of the url you posted and the tf_recovery.img file in the repo, and they're exactly the same:
[code]

So it must be either magic or skill that made it work :) (Or a bit of both)

[2020-02-03 19:30] #30 closed

[2020-02-03 19:31] #32 closed

[2020-02-12 21:09] fliphess commented on #28
TLDR; No.

I had a look at the firmware used for the `CMSXJ16A` or ipc016, and I don't think I will be able to adjust this firmware to support it as it's a completely different setup.
The internal hardware appears to be quite different and the firmware image is setup by another group in another way. (A cleaner, more sophisticated way, but different enough for not easily being able to make this hac

[2020-02-12 21:09] #28 closed

[2020-02-12 21:32] fliphess commented on #26
Hey JB! I'm taking my first steps in capturing audio in C, so in a few years... :D
I'm doing a rewrite of the RTSP software as it's a mess and I really can't add more spaghetti to it before it bursts.... After that I will try to add some audio support to the stream if possible.

[2020-03-05 20:40] testuser7 opened #34 "Support for SXJ01ZM"
Any chance?
Previous hack is not actively developed anymore: https://github.com/Filipowicz251/mijia-1080P-hacks

[2020-03-06 09:21] fliphess commented on #34
Nope! Sorry to say, but I am not able to support hardware that I don't own.
It might be possible to fork this repository and build on top of it for other camera's but the firmware is quite specific and depending on these specifics I cannot guarantee I won't brick other camera's than the ones I own.

[2020-03-06 09:21] #34 closed

[2020-03-14 16:05] fliphess opened #35 "Project is set to be archived on october the first 2020."
[code]

[2020-03-30 20:59] g8dm8d commented on #13
In fact, the mqtt_control.sh script listens to ${MQTT_TOPIC}/# and each "status" message received send a message on "status" topic hence the loop.
For example, a message on ${MQTT_TOPIC}/ir_cut/ calls the ir_cut_status function which send status message back on ${MQTT_TOPIC}/ir_cut/.

Postfixing "status" topics with "/get" could be a solution.

[2020-04-25 08:20] elchanly commented on #13
Hi! I cant switch on rtsp through mqtt. Is it related? I'm not so skilled at mqtt, so I'm afraid it's my fault. I send (mqtt_topuc) /rtsp/set on but nothing happens

[2020-05-02 07:55] chris777c opened #36 "Commande ligne for shutdown"
Hello,

I search on system chuangmi how to shutdown properly because I stop camera with smart plug and would like shutdown system before to conserve my sd card longevity ?

I find poweroff (in /sbin/ folder) command but it's fake because don't turn off camera only reboot.

Best regards.

[2020-05-02 17:22] fliphess commented on #36
Hey @chris777c , I've tried several ways of fully shutting down the camera or implement a hibernation or sleep mode but other then disconnecting the power plug I don't think it's possible.

There is no sophisticated power management mechanism build in as you find in a computer or in newer electronics and as such it's not possible power down the electronics... I think this is the way the hardware w

[2020-05-02 19:39] chris777c commented on #36
Ok thank you for spend your time to reply me.

[2020-05-02 19:39] #36 closed

[2020-05-03 13:32] juanvivo opened #37 "I can't access the camera by ip address"
I have followed the tutorial to try to modify the camera and be able to use it with the functionalities that you indicate.

I signed it with the tf_recovery.img file and the process seems to work fine. On the card is the .bak file and a couple of folders that are created. I connect the camera to the wifi with the original "my home" app. Then I downloaded and copied the contents of the "sdcard" fol

[2020-05-03 18:01] roboterm commented on #37
Can you connect via SSH or Telnet to the camera?
Is it visible in the Mi Home app (online-/offline-status)?
If it’s still online in the Mi Home app the hack didn’t work.
Did you build the binaries by yourself or did you just copy the files from the zip you’ve downloaded?

[2020-05-04 11:49] juanvivo commented on #37
I am not familiar with these methods (SSH or telnet) to connect to the webcam. I will investigate to see how I should do it.

Yes, in the application of my home it works perfectly.

Don't create binaries. Use the files I downloaded. First of the last release, and in case there were problems with it, then I replaced them with those of version 0.98.2, but it did not work either.

To do the process,

[2020-05-04 12:02] roboterm commented on #37
Sorry for confusing the apps.
Of course I mean the official Xiaomi Home app:
https://apps.apple.com/de/app/xiaomi-home-xiaomi-smarthome/id957323480

If the camera is still visible on this app, the hack didn't work.
First try to flash the firmware with this one:
https://github.com/miicam/MiiCam/blob/master/tf_recovery.img

You can find instructions how to do that here:
https://miicam.github.io/Flas

[2020-05-04 13:16] juanvivo commented on #37
thanks for the quick response

the hack still doesn't work. Could it be that the problem is that my camera is not the global version?

I have gone through all the steps that you indicate and the result is the same, I cannot access it by putting the local ip in the browser.

The process is:

- record the image
- configure the wifi with the app my home. (I have tried not to do this step, and then lo

[2020-05-04 19:25] roboterm commented on #37
How to flash the firmware

To revert this behaviour, you can flash the firmware of the camera to an older u-boot version that still allows booting from SD.

To activate this firmware, use the tf_recovery.img file:

Place the tf_recovery.img in the root of the SD card and remove any other files.
Slide the SD card in the slot and power up the camera.
Wait for 10 minutes till the blue led goes on.
Un

[2020-05-05 10:34] juanvivo commented on #37
Don't ask me how, but it works.

I have not done anything different, I have repeated the process once more pointing everything I was doing step by step as a guide for dummies and now it works.

I have thought about publishing the step by step guide for clumsy people like me, and even recording the tutorial on YouTube, but I think I have read that you did not want things to be published on the subj

[2020-05-05 11:45] roboterm commented on #37
Congrats!

If you want to publish something on YouTube etc. you must ask @fliphess .
I'm not the owner of the repo - just trying to help :)

[2020-05-05 13:11] juanvivo commented on #37
tks @roboterm

I'll wait for @fliphess to tell me something before posting anything ...

[2020-05-05 13:19] juanvivo opened #38 "Night mode is not activated"
Finally I got the camera to work and it's already mounted and broadcasting. :)

I am having difficulty activating night mode. Although I modify the variable AUTO_NIGHT_MODE = 1, the night mode is not activated, and I continue taking low quality color images ...

The line that I have in the configuration is the one that comes by default:

`## Command line arguments for the auto night mode and irled

[2020-05-05 13:23] roboterm commented on #38
For me this configuration works;
`AUTO_NIGHT_MODE_ARGS="--ev-on 700 --ir-on 100 --ev-off 2140 --ir-off 130 --delay 5 --set-irled --set-ircut"`

[2020-05-05 13:51] juanvivo commented on #38
tks again @roboterm . I'll try now to see how it goes tonight.

[2020-05-08 17:12] fliphess commented on #37
Hey @juanvivo! If you want to create a youtube video of how to install the hack, that'd be great :) Let me know where to find it so I can link to it from the docs 👍

[2020-05-09 09:38] elchanly commented on #13
hi! Don´t know too much about this, my skills are not so good, but i could make it work:
What i tried in mqtt-control.sh is this:
`
 case "${LINE}" in
        "${MQTT_TOPIC}/rtsp/set on")
                  /tmp/sd/firmware/init/S99rtsp start
        ;;
        "${MQTT_TOPIC}/rtsp/set off")
                  /tmp/sd/firmware/init/S99rtsp stop
        ;;
        esac
`
As i'm not so skilled i cant g